extends ./layout.pug

block contenido
	h1 Librería
	p Rutas de la API
	table(border="1")
		thead
			tr
				th Método
				th Ruta
				th Descripción
		tbody
			tr
				td GET
				td http://localhost:3030/api/v1/libros
				td Muestra todos los documentos
			tr
				td POST
				td http://localhost:3030/api/v1/libros
				td Guarda un nuevo documento
			tr
				td GET
				td http://localhost:3030/api/v1/libros/:id
				td Muestra el documento solicitado con :id
			tr
				td PUT / PATCH
				td http://localhost:3030/api/v1/libros/:id
				td Actualiza el documento solicitado con :id
			tr
				td DELETE
				td http://localhost:3030/api/v1/libros/:id
				td Elimina el documento solicitado con :id

	p Datos del documento Libro:
	ul
		li titulo (requerido)
		li autor (requerido)
		li editorial
		li anio
		li num_paginas